<?xml version="1.0" encoding="utf-8"?>
<packages>
  <PackageReference Include="Microsoft.AspNetCore.Identity.EntityFrameworkCore" Version="1.1.1" targetFramework="net46" />
  <PackageReference Include="Microsoft.Bcl.Build" Version="1.0.21" targetFramework="net46" />
  <PackageReference Include="Microsoft.EntityFrameworkCore.Design" Version="1.1.1" targetFramework="net46" />
</packages>