@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Lead developer:</strong> <a href="mailto:rickobranimir@gmail.com">Branimir Ričko, rickobranimir@gmail.com</a><br />
    <strong>Developer:</strong> <a href="mailto:josip.paulik@outlook.com">Josip Paulik, josip.paulik@outlook.com</a>

</address>