@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>OQPY lets you know if there are free spots in your favourite venue and find out some info about it without even going there!</h1>
                    <a href="https://www.facebook.com/oqpy9000/" class="btn btn-outline btn-xl page-scroll">Chat with our bot here!</a>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-outline btn-xl page-scroll">If you are an owner, go here!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="device-container">
                
                    <iframe style="background: white; height: 500px; width: 500px" class="hidden-sm hidden-xs" 
                            src='https://webchat.botframework.com/embed/OqpyBot?s=Qd4frZcX-Ok.cwA.bzE.bMzBNPI4ZeU0iEp2s5gxI84wEX9z6jfCu5XCsxogeVg'>
                    </iframe>

            </div>
        </div>
    </div>
</div>