@using OQPYEsp.Controllers
@using OQPYEsp.Models
@using System.Collections.Generic
@using System.Linq


<div>
    <p>This is data from esp:</p>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>OQPYed</th>
                    <th>RawData</th>
                </tr>
            </thead>
            @{
                if(ViewData["Esp"] is IEnumerable<ESPData>){
                    IEnumerable<ESPData> ass = ViewData["Esp"] as IEnumerable<ESPData>;
                    foreach (var AppS in ass)
                    {
                        <tr class="table-active">
                            <td class="d-table-cell">@AppS.EspId</td>
                            <td class="d-table-cell">@AppS.time</td>
                            <td class="d-table-cell">@AppS.OnOff</td>
                            <td class="d-table-cell">@AppS.RawHall</td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>